################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DDrop/DDrop/Resources/LocalDb/DDropDataBase.mdf
