################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DDrop/DDrop/Resources/LocalDb/DDropDataBase.mdf
/DDrop/DDrop/Resources/LocalDb/DDropDataBase_log.ldf
/DDrop/DDrop/Resources/LocalDb/DDropDataBase1.mdf
/DDrop/DDrop/Resources/LocalDb/DDropDataBase1_log.ldf
/DDrop/DDrop/Resources/LocalDb/DDropDataBase12.mdf
/DDrop/DDrop/Resources/LocalDb/DDropDataBase12_log.ldf
DDrop/DDrop/Resources/LocalDb/DDropDataBase1.mdf
DDrop/DDrop/Resources/LocalDb/DDropDataBase12.mdf
DDrop/DDrop/Resources/LocalDb/DDropDataBase12_log.ldf
DDrop/DDrop/Resources/LocalDb/DDropDataBase1_log.ldf
