.App {
  text-align: center;
  overflow: hidden;
}

.body {
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  margin-top: 0;
}



.scanlines {
  pointer-events:none;
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
          to bottom,
          transparent 0%,
          rgba(255, 255, 255, 0.05) .5%,
          transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}
