.footer {
  background: rgba(164, 61, 224);

  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  color: white;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
