.footer {
  background: transparent;

  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  font-weight: bold;
  color: black;
}

.phantom {
  display: block;
  width: 100%;
}
