.header {
  width: 100%;
  background: rgb(44, 79, 79);
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 1) 0%,
    rgb(44, 79, 79) 100%
  );
}

.header ul {
  text-align: center;
}

.header ul li {
  list-style: none;
  display: inline-block;
}

.header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}

.header ul li a:hover {
  /*background-color: #282c34;*/
}
