<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]Home | E-Shopper</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Eshopper/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Eshopper/css/price-range.css" rel="stylesheet" />
    <link href="~/Eshopper/css/animate.css" rel="stylesheet" />
    <link href="~/Eshopper/css/main.css" rel="stylesheet" />
    <link href="~/Eshopper/css/responsive.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="~/Eshopper/js/html5shiv.js"></script>
    <![endif]-->
</head><!--/head-->
